@model IEnumerable<IdentityUser>

<div class="text-center my-5">
    <div class="display-6">Users</div>
</div>

<table>
    <thead>
        <th>Id</th>
        <th>UserName</th>
        <th>Roles</th>
        <th>Operations</th>
    </thead>
    <tbody>
        @foreach (IdentityUser user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.UserName</td>
                <td user-name="@user.UserName" user-role=""></td>
                <td>
                    <div class="btn-group">
                        <a asp-action="Update" asp-route-id="@user.UserName" class="btn btn-warning"
                            data-toggle="tooltip" data-placement="top" title="Edit">
                            <i class="fa fa-solid fa-edit"></i>
                        </a>
                        <a asp-action="ResetPassword" asp-route-id="@user.UserName" class="btn btn-info"
                            data-toggle="tooltip" data-placement="top" title="Reset Password">
                            <i class="fa fa-solid fa-edit"></i> </a>
                        <form asp-action="DeleteOneUser" method="post">
                            <input type="hidden" name="UserName" value="@user.UserName" />
                            <button type="submit" class="btn btn-danger rounded-0" data-toggle="tooltip" data-placement="top"
                                title="Delete">
                                <i class="fa fa-solid fa-trash"></i>

                            </button>
                        </form>
                    </div>
                </td>
            </tr>
        }

    </tbody>
</table>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(() => {
            $('[data-toggle="tooltip"]').tooltip()
        });
    </script>
}